.body {
    padding-right: 10%;
    padding-left: 10%;
    font-family:  Poppins, Inter;
}

.topnav_wrapper {
    display: flex;
    background-color: #060606;
    height: 70px;
}

.topnav_item {
    display: flex;
    color: aliceblue;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;

}

.topnav_left,
.topnav_right {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;


}

.topnav_right {
    justify-content: flex-end;

}

.topnav_wrapper {
    display: flex;

}

button {
    background-color: #ED661F;
    border-color: #ED661F;
    color: aliceblue;


}

/*end of top nav*/


.body1 {
    display: flex;
    background-image: url("aserts/images/Rectangle\ 5.png");
    height: 600px;

}


.body2 {
    display: flex;
    height: 600px
}

hr {
    background-color: brown;
    width: auto;
}


.item {
    margin: 2px;
    padding: 2px;
}

.data1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: transparent;
    float: left;
    width: 100%;
    padding: 10px 6px;
    height: auto;
    margin: 10px 0;
}

.data1 .each_data {
    width: auto;
    background-color: ghostwhite;
    margin: 0.5%;
    min-width: 23%;
    border-radius: 4px;
    padding: 4px;


}

.data1 .each_data p {
    font-size: 80%;
    margin: 2px auto;
}

.data2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: transparent;
    float: right;
    width: 100%;
    padding: 10px 6px;
    height: auto;
    margin: 10px 0;
}

.data2 .each_data {
    width: auto;
    background-color: ghostwhite;
    margin: 0.5%;
    min-width: 23%;
    border-radius: 4px;
    padding: 4px;


}

.data2 .each_data p {
    font-size: 80%;
    margin: 2px auto;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: transparent;
    float: left;
    width: 100%;
    padding: 10px 6px;

    margin: 10px 0;

}

.feedback.each_data {
    width: auto;
    background-color: ghostwhite;
    margin: 0.5%;
    min-width: 23%;
    border-radius: 4px;
    padding: 4px;


}

.feedback.each_data p {
    font-size: 80%;
    margin: 2px auto;
}

.feedback.each_data i{
color: rgb(245, 159, 10);
}


.subscribe {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: transparent;
    float: left;
    width: 100%;
    padding: 10px 6px;

    margin: 10px 0;
}

.footer {

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: black;
    float: left;
    width: 100%;
    padding: 10px 6px;
    color: aliceblue;
    margin: 10px 0;
}

.footer .item {
    width: auto;
    margin: 0.5%;
    min-width: 23%;
    border-radius: 4px;

    padding: 4px;
    color: aliceblue;


}
h5{
    text-align: center;
    float: center;
}
.last1{
    display:flex ;
    float: center;
}