
    
    .div_body {
        padding-right: 15%;
        padding-left: 15%;
        

    }
    .topnav_wrapper {
        display: flex;
        background-color: black;
    }
    
    .topnav_item {
        display: flex;
        color: aliceblue;
        background: transparent;
        margin: 15px;
        font-family: 'Courier New', Courier, monospace;

    
    }
    .topnav_login{
        justify-content: flex-end;

    }
    
    .topnav_left,
    .topnav_right {
        flex: 1;
        display: flex;
        min-width: -webkit-min-content;
        
        
    }
    
    .topnav_right {
        justify-content: flex-end;
        
    }
    
    .topnav_wrapper {
        display: flex;
    
    }
    
    
    
    
    .outer_wrapper {
        display: flex;
    
    }
    .outer_wrapper.item.h1{
        color: blue;
    }
    
    
    .item {
        margin: 2px;
        padding: 2px;
    }
    
    .left_topNav {
        flex: 1;
        display: flex;
        min-width: -webkit-min-content;
        
    
    }
