.div_body {
    padding-right: 10%;
    padding-left: 10%;


}

.topnav_wrapper {
    display: flex;
    background-color: black;
}

.topnav_item {
    display: flex;
    color: aliceblue;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;

}

.topnav_left,
.topnav_right {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;


}

.topnav_right {
    justify-content: flex-end;

}

.topnav_wrapper {
    display: flex;

}

/*end of top nav*/


.outer_wrapper {
    display: flex;
    background-image: url ('aserts/images/image 1.png');

}

.outer_wrapper a {
    color: white;
}


.item {
    margin: 2px;
    padding: 2px;
}

.data {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	background-color: transparent;
	float: left;
	width: 100%;
	padding: 10px 6px;
	height: auto;
	margin: 10px 0;
}

.data .each_data {
	width: auto;
	background-color: ghostwhite;
	margin: 0.5%;
	min-width: 15%;
	border-radius: 4px;
	padding: 4px;
	flex-wrap: nowrap;
	
}

.data .each_data p {
	font-size: 80%;
	margin: 2px auto;
}